body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.centered {
  text-align: center;
}

.control {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 50%;
  margin-bottom: 1rem;
}